$black: #000505;
$white: #e0e1e4;
$gray: mix($black, $white, 25%);

body {
    background-color: darken($color: $white, $amount: 5%);
    color:$black;
}

#header {
    background-color: $black;
    color: $white;

    margin-bottom: 3rem;
    .navbar-brand {
        margin-left: 2rem;
        font-size: 2rem;
        color: $white;
    }
}

.card {
    width: 100%;
    margin-bottom: 3rem;
    border-top: 5px solid $black;
    filter: drop-shadow(0.5rem 0.5rem 0.3rem $gray);

    .card-body {
        // background-color: lighten($color: $white, $amount: 10%);
        background-color: $white;
    
        .article-title {
            font-size: 2rem;
        }
    
        .article-text {
            margin-top: 2rem;
        }
    }
}

#footer {
    border-top: 1px solid $gray;
}
